@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

footer{
    display:flex;
    justify-content: space-around;
    align-items: center;
    height:200px;
    background-image: url(../../../assets/1062064.jpg);
    margin-top:100px;
    color:white;
    font-family: 'Montserrat', sans-serif;
}